name: Validate YAML

on:
  pull_request:
    branches: [ main, staging ]

jobs:
  lint:
    # This name is the same, so your branch ruleset will still work!
    name: Run YAML Linter  
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install yamllint
        run: pip install yamllint

      - name: Run yamllint
        # This command scans all YAML files in your repository
        run: yamllint .